:root{
    --dark-backround-color: #333;
    --light-backround-color: #f5f5f5;
    --dark-foreground-color: #000;
    --light-foreground-color: #fff;
    --dark-backround-color: #333;
    --grey-foreground-color: #ccc;
    --accent-color: #6d0509;
    --general-padding: 2em;
    --general-padding: 1em;
}

*{
    margin: 0;
    padding: 0;
    color:var(--dark-foreground-color);
    font-family:Arial, Helvetica, sans-serif;
}

*,*::before, *::after {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

a:hover {
    color: var(--accent-color);
    font-weight:bold;
}

article {
    flex: 33.33%
}

article div {
    margin: var(--general-margin);
    border: 1px solid var(--grey-foreground-color);
}

article div img {
    height: 500px;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

article h3 {
    margin: var(--general-margin);
}

article p {
    margin: var(--general-margin);
    line-height: 1.5;
}

aside {
    padding: var(--general-padding);
    padding-top: calc(var(--general-padding)*1.5);
}

div#container {
    display: flex;
    flex-direction: column;
    margin: var(--general-margin);
}

div#content {
    display: inherit;
}

div#content aside {
    width: 20vw;
}

div#content section {
    border-right: 1px solid var(--dark-foreground-color);
    display: inherit;
    flex-direction: row;
    flex-wrap: wrap;
    margin:calc(var(--general-margin)*2) 0 var(--general-margin) 0;
    width: 80vw;
}

header {
    display: inherit;
    justify-content: center;
    align-items: center;
    height: 150px;
}

header h1 {
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

footer {
    align-items: center;
    background-color: var(--dark-backround-color);
    display: inherit;
    height: 150px;
    justify-content: center;
}

footer p{
    color: var(--light-foreground-color)
}


nav {
    align-items: center;
    border-bottom: 1px solid var(--dark-foreground-color);
    border-top: 1px solid var(--dark-foreground-color);
    display: inherit;
    height: 40px;
}

nav li {
    display: inline-block;
    margin-right: var(--general-margin);
    width: 5em;
}

nav ul {
    padding-left: calc(var(--general-padding)/2);
}

@media only screen and (max-width: 1200px) {
    article {
        flex: 50%;
    }

    article div img {
        height: 350px;
    }

    div#content {
    flex-direction: column;
    }

    div#content aside {
        padding-left: var(--general-padding)/2;
        padding-top: var(--general-padding);
        width: 100vw;
    }

    div#content section {
        flex-direction: row;
        width: 100 vw;
    }

}

@media only screen and (max-width: 992px) {
    div#content section {
        flex-direction: column;
    }
}